.about-card-container {
  //border: solid blue;
  width: 23%;
  height: auto;
  overflow: hidden;
  @media screen and (max-width: 800px) {
    width: 48%;
    margin-top: 1.5rem;
  }
  @media screen and (max-width: 550px) {
    width: 100%;
  }
  .name-title {
    font-family: "Comfortaa", cursive;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 5%;
  }
  .position-title {
    font-family: "Comfortaa", cursive;
    margin-top: 5%;
    color: #7f8c8d;
  }
  .short-desc {
    font-family: "roboto mono";
    margin-top: 5%;
  }
  img {
    width: 100%;
    height: auto;
  }
}
