.body-container {
  //border: solid 3px red;
  //margin-right: auto;
  position: relative;
  margin: 0% 10.5%;
  @media screen and (max-width: 1540px) {
    margin: 0%;
  }
  @media screen and (max-width: 400px) {
    margin: 15% 5% 0%;
  }
}
