.Projects-card-container {
  //border: solid blue;
  width: 23%;
  height: auto;
  overflow: hidden;
  @media screen and (max-width: 800px) {
    width: 48%;
    margin-top: 1.5rem;
  }
  @media screen and (max-width: 550px) {
    width: 100%;
  }
  .project-title {
    position: absolute;
    background-color: black;
    font-family: monospace;
    font-size: 1.2rem;
    opacity: 0.7;
    color: white;
    padding: 0.5rem;
  }
  img {
    width: 100%;
    height: auto;
  }
}
